body {
    min-width: 420px;
}
.title {
    font-size: 20px;
    text-align: center;
}
.form-group.selecter {
    width: 80%;
    padding-left: 20px;
    /* background-color: blueviolet; */
}
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
.form-group select option {
    padding: 10px;
}


/* Стилизация контейнера для отображения выбранного файла */
input[type="file"] {
    display: none;
}
.form-group.file {
    width: 80%;
    padding-left: 20px;
    /* background-color: blueviolet; */
}
.file-input-label {
    display: inline-block;
    /* width: 246px; */
    width: 95%;
    margin-top: 20.5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.file-input-label:hover {
    background-color: #8bf7ff70;
}
.file-input-label::file-selector-button {
    padding: 10px 12px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
.file-input-label::file-selector-button:hover {
    background-color: #8bf7ff70;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
.main-profile {
    width: 600px;
    padding: 10px 40px 30px;
    /* margin-block: 50px; */
    border-radius: 40px;
    background-color: #fff;
}
.profile-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-bar.up {
    background-color: #eee;
    padding-bottom: 20px;
    border-radius: 30px 30px 0 0;
}
.left-bar, .right-bar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* background-color: #ccc; */
}
.main-profile .form-group {
    margin: 20px 20px 0px 0px;
}
.main-profile .form-group p {
    font-size: 18px;
    margin: 0px;
} 

.profile-bar.down {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
    border-radius:  0 0 30px 30px;
}
.profile-bar.down .form-group {
    font-size: 20px;
    text-align: center;
    padding: 15px 40px;
    margin: 0 0 10px;
    justify-content: center;
}
.profile-bar.down .form-group label {
    font-size: 18px;
    color:#555;
}
.main-profile .form-group textarea {
    width: 100%;
    margin-left: -3px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    resize: none; /* Отключаем возможность изменения размера перетаскиванием */
    height: auto; /* Разрешаем автоматическое расширение по вертикали */
    max-height: none; /* Убираем ограничение на максимальную высоту */

}


.main-profile input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
} 

.main-profile button {
    display: flex;
    font-size: 16px;
    width: 40%;
    padding: 10px;
    justify-content: center;
    margin: 20px auto 0px;
    border: none;
    border-radius: 12px;
    background-color: #5AC7CE;
    color: #fff;
    cursor: pointer;
}
.main-profile button:hover {
    background-color: #5ac6ceb6;
}

@media (max-width: 700px) {
    #reg_protocol {
        width: 520px;
    }
}
@media (max-width: 600px) {
    #reg_protocol {
        width: 320px;
    }
}